* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #18122b;
  text-align: center;
}
#profile__card {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  overflow: hidden;
}
.label__user-profile-card {
  text-align: center;
  text-transform: capitalize;
  color: white;
  font-family: monospace;
  word-spacing: 6px;
  font-size: 2.1rem;
}
.u {
  font-size: 30px;
  color: rgba(255, 255, 0, 0.537);
}
.p {
  font-size: 30px;
  color: rgba(255, 0, 0, 0.555);
}
.c {
  font-size: 30px;
  color: rgba(0, 0, 255, 0.532);
}
.d {
  color: rgba(0, 255, 255, 0.742);
  text-decoration: underline;
}

#profile__container {
  text-align: center;
  height: 470px;
  width: 330px;
  background-color: #00000020;
  padding: 2.2rem;
  margin: 3rem;
  /* border-radius: 10px; */
  /* box-shadow: 5px 5px 20px 1px lawngreen; */
  animation: awesome 6s infinite;
}
.profile__image {
  height: 150px;
  width: auto;
  border-radius: 5%;
  opacity: 0.7;
  border: 2px outset #fff;
  border: hidden;
  box-shadow: 0px 0px 2rem #000000;
}
.input__profile-image {
  position: absolute;
  opacity: 0;
  font-size: 1rem;
  height: 9rem;
  width: 7.5rem;
  border-radius: 45%;
  margin-top: 5px;
  z-index: 1000;
}

@keyframes awesome {
  5% {
    box-shadow: 5px 5px 20px 1px rgb(252, 0, 197);
  }
  10% {
    box-shadow: 5px 5px 20px 5px blue;
  }
  20% {
    box-shadow: 5px 5px 20px 1px lime;
  }
  30% {
    box-shadow: 5px 5px 20px 5px red;
  }
  40% {
    box-shadow: 5px 5px 20px 1px yellow;
  }
  50% {
    box-shadow: 5px 5px 20px 5px darkblue;
  }
  60% {
    box-shadow: 5px 5px 20px 1px orangered;
  }
  70% {
    box-shadow: 5px 5px 20px 5px darkred;
  }
  80% {
    box-shadow: 5px 5px 20px 1px aquamarine;
  }
  90% {
    box-shadow: 5px 5px 20px 5px palevioletred;
  }
  100% {
    box-shadow: 5px 5px 20px 1px aqua;
  }
}

.profile__name {
  padding: 0.5rem;
  font-size: 25px;
  text-align: center;
  text-transform: capitalize;
  font-family: monospace;
  cursor: pointer;
}
.profession {
  padding: 0.5rem;
  font-family: monospace;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: darkslategray;
  font-variant: small-caps;
}
.p2 {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.138);
  text-transform: capitalize;
  text-decoration: underline;
}
.university {
  padding: 1.5rem;
  color: white;
  letter-spacing: 3px;
  font-size: 20px;
}
.icon-list {
  padding: 2rem;
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 30px;
}
i {
  color: rgba(250, 251, 255, 0.184);
  border: 1px outset rgba(250, 251, 255, 0.184);
  border: hidden;
  font-size: 2.5rem;
}
i:hover {
  font-size: 2.6rem;
  color: rgba(250, 251, 255, 0.311);
}
